
/* -------GLOBAL STYLES-------- */
  /* Remove default margin */
  html, body {
  margin: 0;
  padding: 0;
  height: 100%; 
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  ul,
  dd {
    margin: 0;
  }

  h1 {
    font-family: 'Rufina', serif;
    text-decoration: none;
  }

  p {
    font-family: 'PT Serif', serif;

  }

/* -------HERO IMAGE-------- */
  .hero-main {
    background: url(../images/mormon-row.jpg);
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
    /* position: top; */
    /* top: -22px;  */
    /* margin: 0 auto; */
  
  }
   
/* -------NAV BAR-------- */
  .nav > ul {
    display:flex;
    justify-content: left;
    list-style-type: none;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.3);
    /* padding-top: 10px; */
  }
  
  .nav > ul > li {
    float: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
  }
  .nav > ul > li a:hover {
    scale: 1.1;
    transition-duration:.3s;
    color: rgb(21, 34, 34);
  }
  
  .nav > ul > li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: darkslategray;
  }

  #about-me {
    scroll-behavior: smooth;
  }

/* -------HERO CONTENT-------- */

  .hero-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-title > h1 {
    font-size: 60px;
    color: #fff;
    text-align: center;
    padding: 20px, 0px, 0px, 0px;
    margin-top: 125px

  }

  .hero-title > p {
    font-size: 18px;
    color: #fff;
    text-align: center;
    width: 70%;

  }

  @media screen and (max-width: 700px){
    .hero-title > h1 {
      font-size: 35px;
    }

    .hero-title > p {
      font-size: 16px;
    }
}
/* -------ABOUT ME-------- */ 
.about-me-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content:center;
  background-image: linear-gradient(pink, lightgray);
}

.about-me {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  margin: 20px;
  justify-content: center;
}

.about-me-text{
  text-align: center;
  padding: 20px;
  max-width: 500px;
}
.profile-pic {
  border-radius: 50%;
  height: 350px;
  border: darkslategray solid 15px;
}

@media screen and (max-width: 700px){
  
  .about-me-container {
    flex-direction: column;

    
  }

}

/* -------BRANDS-------- */ 

.brands-container {
  background-image: linear-gradient(lightgray, white);
}
/* .brands {
  max-width: 100%; 
} */
.brands-title {
  text-align: center;
  margin-top: 25px;
}

.brands-logos {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  /* justify-content: space-between; */

  
  /* max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
	position: relative;
	width: 100%;
  height: auto;
  padding-bottom: 100%; 
	vertical-align: middle; 
	overflow: hidden;  */
}

.brands-logos > img {
  width: 100%;
  max-width: 65px;
  padding: 10px;
  height: auto;

}

@media screen and (min-width: 700px){
  .brands-logos >img {
    padding: 20px;
    max-width: 90px;
  }
}


/* -------GALLERY-------- */ 
/* css-grid from the codepen */

  .gallery-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
    max-width: 800px;
    margin: 20px auto;
}

.tile > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tile:nth-child(1){
    grid-column: span 4;
    grid-row: span 2;

}

.tile:nth-child(2),
.tile:nth-child(3){
    grid-column: span 2;
}

.tile:nth-child(4),
.tile:nth-child(5){
    grid-column: span 3;
}
@media screen and (max-width: 700px){
    .gallery-container{
        display: block;
        margin: 5px;
    }
    .tile{
        margin-bottom: 1rem;
    }
}

/* test modal formatting */
#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}