/*body{
    background-color: #fff;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    float: left;
}

.flex-container-main {
    display: 100%;
}

.flex-container-main > img {
    flex-basis: 1;
} */

body {
  margin: 0;
  padding: 0;
}

.hero-main {
  background: url(../images/4507-26.jpg)
  center;
  background-size: cover;
  width: 100%;
  height: 80vh;
  margin: 0 auto;
  display:flex;
  justify-content: center;
  align-items: center;
}

.hero-main-cont > h1 {
  font-size: 60px;
  color: #fff;
  text-align: center;

}



h1 {
  font-family: 'Rufina', serif;
  text-decoration: none;
}

p {
  font-family: 'PT Serif', serif;

}

.nav-bar {
  display:flex;
  width: 100%;
  list-style-type: none;
  /*background-color: #386150; */
  background: linear-gradient(to bottom,#fff, lightgray );
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  
}
  
ul {
  list-style: none;

}
  li {
    float: left;
    font-family: 'Rufina', serif;
    margin-right: 20px;
    ;
    

    
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .grid {
    background: #EEE;
    /* max-width: 1200px; */
  }
  
  /* clearfix */
  /* .grid:after {
    content: '';
    display: block;
    clear: both;
  } */
  * { box-sizing: border-box; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  background: #EEE;
  max-width: 1200px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 160px;
  height: 120px;
  float: left;
  background: #D26;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}

.grid-item--width2 { width: 320px; }
.grid-item--width3 { width: 480px; }
.grid-item--width4 { width: 640px; }

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }


  
  /* ---- grid-item ---- */
/*   
  .grid-item {
    height: 100%;
    background: #D26;
    border: 2px solid #333;
    border-color: hsla(0, 0%, 0%, 0.5);
  } */
.grid-item img {
  /* width: 100%; */
}
  
  .grid-item--width2 {  }
  .grid-item--width3 { }
  .grid-item--width4 { }
  
  .grid-item--height2 {  }
  .grid-item--height3 { }
  .grid-item--height4 { }
  
  
  
  /* Change the link color to #111 (black) on hover
  li a:hover {
    background-color: rgba(0, 0, 0, 2);
  }
/* css-grid from the codepen */

  .gallery-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
    max-width: 1440px;
    margin: 0 auto;
}

.tile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tile:nth-child(1){
    grid-column: span 4;
    grid-row: span 2;
}

.tile:nth-child(2),
.tile:nth-child(3){
    grid-column: span 2;
}

.tile:nth-child(4),
.tile:nth-child(5){
    grid-column: span 3;
}
@media screen and (max-width: 650px){
    .gallery-container{
        display: block;
    }
    .tile{
        margin-bottom: 1rem;
    }
}
