/*body{
    background-color: #fff;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    float: left;
}

.flex-container-main {
    display: 100%;
}

.flex-container-main > img {
    flex-basis: 1;
} */

.hero-main {
  background: url(../images/alaska.png)
  center;
  background-size: cover;
  width: 100%;
  height: 80vh;
  max-width: 1000px;
  margin: 0 auto;
  display:flex;
  justify-content: center;
  align-items: center;
}

.hero-main-cont > h1 {
  font-size: 60px;
  color: #fff;
  text-align: center;

}



h1 {
  font-family: 'Rufina', serif;
  text-decoration: none;
}

p {
  font-family: 'PT Serif', serif;
  color: #fff;

}

ul {
    display:flex;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    /*background-color: #386150; */
    background: linear-gradient(to bottom,#386150, #000 );
  }
  
  li {
    float: left;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-right: 20px;
    

    
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgba(0, 0, 0, 2);
  }